@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

body {
  margin: 0;
  min-height: 100vh;
  font-family: "Roboto", sans-serif;
}

ul {
  padding: 0;
  list-style: none;

  display: flex;
  gap: 20px;
}

a {
  text-decoration: none;
  color: #f5f5dc;
  font-size: 18px;
}

.header {
  height: 58px;
  background-color: #6dbe45;
  color: #f5f5dc;
  padding: 10px 180px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo h3 {
  font-size: 24px;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 40px 180px;
  background-color: #6dbe45;
  color: #f5f5dc;
}

.hero-text {
  flex: 1;
}

.hero-img {
  flex: 1;
}

.hero-img img {
  width: 100%;
  height: auto;
  border-radius: 20px;
}

.hero-text h1 {
  font-size: 48px;
  font-weight: 900;
}

.hero-text p {
  font-size: 18px;
}

.information {
  padding: 40px 180px;
  background-color: #f5f5dc;
}

.information h2 {
  text-align: center;
  margin: 0;
  font-size: 36px;
  font-weight: 900;
  color: #1f2937;
}

.information .cards-wrapper {
  display: flex;
  justify-content: center;
  gap: 25px;

  margin-top: 30px;
}

.information .card {
  text-align: center;
}

.information .card .card-img {
  width: 150px;
  height: 150px;
  border: 1px solid #6DBE45;
  border-radius: 20px;
  margin: auto;
}

.information .card p {
  width: 70%;
  margin: 10px auto;
}

.testimony {
  padding: 40px 180px;
  text-align: center;
  background-color: #8D6748;
  color: #f5f5dc;
}

.testimony .testimony-content {
  width: 65%;
  margin: auto;
}

.testimony h4 {
  font-size: 36px;
  font-weight: 300;
  font-style: italic;
}

.testimony p {
  text-align: right;
  font-size: 18px;
  font-weight: 900;
}

.join {
  background-color: #f5f5dc;
  padding: 80px 180px;
  color: #f5f5dc;

  display: flex;
  align-items: center;
}

.join .card {
  background-color: #6DBE45;
  border-radius: 15px;
  width: 100%;
  padding: 40px 180px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.join .card h5 {
  margin: 0;
  font-size: 24px;
}

.join .card button {
  border: 3px solid #f5f5dc;
  color: #f5f5dc;
  border-radius: 15px;
  width: 200px;
  padding: 20px;
  background-color: transparent;
  font-size: 18px;
  cursor: pointer;
}

.footer {
  padding: 20px 180px;
  text-align: center;
  background-color: #6DBE45;
  color: #f5f5dc;
}
